@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
}

.logo {
    width: 160px;
}

footer {
    margin-top: 70px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    font-size: 12px;
}

.header-search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: rgba(170,40,40,1);
    background: -moz-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(170,40,40,1)), color-stop(100%, rgba(231,55,39,1)));
    background: -webkit-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: linear-gradient(135deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa2828', endColorstr='#e73727', GradientType=1 );
}

.search-box {
    background: rgba(255, 255, 255, 0.90);
    width: 100%;
    border-radius: 8px;
    padding: 18px;
}

.search-input {
    border-radius: 0;
    border: 0;
}

.boxHeader { 
    border-bottom: solid 2px #ccc; 
}

.boxSearchAirport { 
    height: auto;
    background: none;
    color: #FFF;
    border-bottom: solid 2px #bbb;
    border-top: solid 2px #bbb;
    background: rgba(170,40,40,1);
    background: -moz-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(170,40,40,1)), color-stop(100%, rgba(231,55,39,1)));
    background: -webkit-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: linear-gradient(135deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa2828', endColorstr='#e73727', GradientType=1 );
}

.boxSearchAirport .search-box { 
    background: none;
}

.lblMontoDevolucion {
    font-weight: bold;
    font-size: 24px;
    padding-left: 10px;
}
.lblPriceFlight{
    font-weight: bold;
    font-size: 24px;
}
.txtClassFlight {
    font-size: 12px;
}

.itemFlight {
    border-radius: .25rem;
    border-width: .5rem;
    box-shadow: 0 2px 4px 0 #63668030;
    border-left-style: solid;
    border-left-color: rgba(170,40,40,1);
    background-color: #FFF;
}