@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
}

.logo {
    width: 160px;
}

footer {
    margin-top: 70px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    font-size: 12px;
}

.header-search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: rgba(170,40,40,1);
    background: -moz-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(170,40,40,1)), color-stop(100%, rgba(231,55,39,1)));
    background: -webkit-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: linear-gradient(135deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa2828', endColorstr='#e73727', GradientType=1 );
}

.search-box {
    background: rgba(255, 255, 255, 0.90);
    width: 100%;
    border-radius: 8px;
    padding: 18px;
}

.search-input {
    border-radius: 0;
    border: 0;
}

.boxHeader { 
    border-bottom: solid 2px #ccc; 
    overflow: hidden;
    background-color: #FFF;
}

.boxSearchAirport { 
    height: auto;
    background: none;
    color: #FFF;
    border-bottom: solid 2px #bbb;
    border-top: solid 2px #bbb;
    background: rgba(170,40,40,1);
    background: -moz-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(170,40,40,1)), color-stop(100%, rgba(231,55,39,1)));
    background: -webkit-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    background: linear-gradient(135deg, rgba(170,40,40,1) 0%, rgba(231,55,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa2828', endColorstr='#e73727', GradientType=1 );
}

.boxSearchAirport .search-box { 
    background: none;
}

.lblMontoDevolucion {
    font-weight: bold;
    font-size: 24px;
    padding-left: 10px;
}
.lblPriceFlight{
    font-weight: bold;
    font-size: 24px;
}
.txtClassFlight {
    font-size: 12px;
}

.itemFlight {
    border-radius: .25rem;
    border-width: .5rem;
    box-shadow: 0 2px 4px 0 #63668030;
    border-left-style: solid;
    border-left-color: rgba(170,40,40,1);
    background-color: #FFF;
}
.titItemFlight {
    border-bottom: solid 1px #ccc;
    padding-bottom: 0.5rem; 
    font-weight: bold;
}

.airlineItemFlight {
    font-size: 1.75rem;
}

.detAirlineFlight {
    font-size: 0.6875rem; 
    color: #636680;
}

.boxDuracion {
    width: 150px; 
    text-align: center;
}
.boxDuracion .lblTime {
    font-size: 0.9rem; 
    color: #636680;
}

.boxDuracion .lineDuracion {
    background: red; 
    margin: 5px 0 0 0;
}

.lineDividerItemFlight {
    padding: 0 1.25rem;
}

.boxPrice {
    border-left: solid #ccc;
}

.lblDisponiblesItemFlight {
    font-size: 12px;
}

.lineDividerPrice {
    margin: 0.5rem 0;
}

@media (max-width:770px){
    .boxPrice{
        border-left:none;
    }
}

.boxMainDetailFlight { background: #FFF;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 #636680;
}
.titleDetailFlight { 
    padding: 14px 20px 10px;
    border-bottom: solid 2px #ccc;
    padding: 20px;
    margin: 0;
}

.boxPriceDetailFlight { 
    border-left: solid #dc3545 4px 

}
@media (max-width:992px){
    .boxPriceDetailFlight{
        border-left:none;
    }
}
.boxPriceDetail {
    font-size: 24px; 
}
label.error {
    font-size: 12px; color: #dc3545;
}
input.error {
    border-color: #dc3545;
}
.boxProvince {
    border-color: #fdbe15; 
    background-color: #ccc; 
}
.boxContentDetail {
    min-height: 150px; 
}
.fontSmall {
    font-size: 12px; 
}